<ion-view title="Lista de Desejo" >
	<ion-content class="app-background t-center">
		<div class="content">
			<ion-list >
				<ion-item class="item item-icon-right">
					Livro 1<i class="icon ion-android-more-horizontal"></i>
				</ion-item>
				<ion-item class="item item-icon-right">
					Livro 2<i class="icon ion-android-more-horizontal"></i>
				</ion-item>
				<ion-item class="item item-icon-right">
					Livro 3<i class="icon ion-android-more-horizontal"></i>
				</ion-item>
				<ion-item class="item item-icon-right">
					Livro 4<i class="icon ion-android-more-horizontal"></i>
				</ion-item>
			</ion-list>
		</div>
	</ion-content>
</ion-view>