/* Definicoes Globais */
.content {
	font-size: 12px;
	text-align: center;
	padding: 5px;
}
.item-input {
	font-size: 12px;
	font-weight: bold;
	border: none;
	border-bottom: 1px dashed #ccc;
}
	.item-input input {
		font-size: 12px;
		color: #777;
	}
.item-stacked-label {
	text-align: left;
}
.button.button-full {
	margin: 0px;
}
.bar-footer {
	padding: 0px;
}

/**
 * Customizacoes para o cabecalho padrao
 */
.header-item {
	font-size: 14px !important;
}

.morebutton i {
	font-size: 18px !important;
}

.tabs {
	height: 30px;
	/*background-color: #3478EC !important;*/
}
.tab-item .icon {
	height: auto;
}
.tab-nav a i{
	font-size: 22px !important;
	height: none;
}
.tab-item-active {
	border-bottom: 3px solid #f2f2f2;
}
.action-sheet-option {
	font-size: 16px !important;
}
.action-sheet-cancel button {
	font-size: 16px !important;
	color: red !important;
}
/**
 * Customizacao do card principal
 */
.card {
	padding: 0px;
}

.pull-left {
	float: left;
	margin-right: 10px;
}

.more {
	font-size: 18px !important;
}
